table {
      border-collapse: collapse;
      width: 100%;
    
    }
th {
      border: 8px solid;
      border-color: blueviolet;
      padding: 8px;
      text-align: middle;
    }
td {
      border: 3px solid;
      border-color: slateblue;
      padding: 8px;
      text-align: middle;
    }